<% layout('layout') -%>

<% include header %>

<main class="details">

	<ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <!-- <li><a href="results">Results</a></li> -->
	  <li class="active"><%=menuResults.objects[0].name%></li>
	</ol>

	<article class="col-sm-12 col-xs-12">
		<div class="restaurant-result">
			<ul class="col-xs-10">
				<li><h3><%=menuResults.objects[0].name%></h3></li>
				<li><%=menuResults.objects[0].street_address%></li>
				<li><%=menuResults.objects[0].locality%>, <%=menuResults.objects[0].region%> <%=menuResults.objects[0].postal_code%></li>
				<li><a href="https://www.google.com/maps/place/<%=menuResults.objects[0].street_address %>+<%=menuResults.objects[0].postal_code%>" target="_blank">Get Directions</a></li>
				<li><%=menuResults.objects[0].phone%></li>
				<li><a href="<%=menuResults.objects[0].website_url%>" target="_blank"><%=menuResults.objects[0].website_url%></a></li>
			</ul>
			<div class="col-xs-2">
				<img src="/assets/images/open.png" alt="open-now">
				<!-- <img src="/assets/images/closed.png" alt="closed"> -->
			</div>
		<div>
	</article>

	<div class="col-xs-12 alert">
		<h2>Restaurant Menu</h2>
	</div>

	<div class="col-xs-12">
		
		<% for(i=0; i<menuResults.objects[0].menus[0].sections.length; i++) { %>
			<% var obj = menuResults.objects[0].menus[0].sections[i]; %>
			<table>
				<thead>
					<tr>
						<th colspan="2"><%=obj.section_name%></th>
					</tr>
				</thead>
				<tbody>
					
						<% for(index in obj.subsections[0].contents) { %>
							<tr>
								<td>
									<% if (obj.subsections[0].contents[index].name == null || obj.subsections[0].contents[index].name == undefined){ %>   
											<%=obj.subsections[0].contents[index].name = "poop" %>
									<% }else{ %>
										<%=obj.subsections[0].contents[index].name%>
									<% } %>
									
								</td>
								<td>
									<% if (obj.subsections[0].contents[index].price == null || obj.subsections[0].contents[index].price == undefined){ %>   
											<%=obj.subsections[0].contents[index].price = "No Price Available" %>
									<% }else{ %>
										$<%=obj.subsections[0].contents[index].price%>
									<% } %>
								</td>

									
							</tr>
						<% } %>
				</tbody>
			</table>
		<% } %>
	</div>

</main>