<% layout('layout') -%>

<% include header %>

<main class="details">

	<ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <!-- <li><a href="/results">Results</a></li> -->
	  <li class="active"></li>
	</ol>

	<article class="col-sm-12 col-xs-12">
		<div class="restaurant-result">
			<ul class="col-xs-10">
				<li><h3><%=menuResults.objects[0].name%></h3></li>
				<li>Located At <%=menuResults.objects[0].street_address%></li>
				<li></li>
				<li></li>
				
				<li><a href="https://www.google.com/maps/place/<%=menuResults.objects[0].street_address %>+<%=menuResults.objects[0].postal_code%>">Get Directions</a></li>
				<li><%=menuResults.objects[0].locality%>, <%=menuResults.objects[0].region%> <%=menuResults.objects[0].postal_code%></li>
				<li><%=menuResults.objects[0].phone%></li>
			</ul>
			<div class="col-xs-2">
				<img src="/assets/images/open.png" alt="open-now">
				<!-- <img src="/assets/images/closed.png" alt="closed"> -->
			</div>
		<div>
	</article>

	<div class="col-xs-12 alert">
		<h2>Restaurant Menu</h2>
	</div>

	<!--

	//menuResults.objects[0].menus[0].sections[0].section_name
	//menuResults.objects[0].menus[0].sections[0].subsections[0].contents[0].name
	//menuResults.objects[0].phone
	 //menuResults.objects[0].street_address
	 //menuResults.objects[0].name


-->

	<div class="col-sm-6 col-xs-12">
		<table>
			<% for(index in menuResults.objects[0].menus[0].sections) { %>
				<thead>
					<tr>
						<th colspan="2"><%=menuResults.objects[0].menus[0].sections[index].section_name%></th>
					</tr>
				</thead>
				<tbody>
					<% for(index in menuResults.objects[0].menus[0].sections[0].subsections[0].contents) { %>
						<tr>
							<td><%=menuResults.objects[0].menus[0].sections[0].subsections[0].contents[index].name%></td>
							<td></td>
						</tr>
					<% } %>
				</tbody>
			<% } %>
		</table>
		
	</div>

</main>